body {
    background-color: #F7FEE8;
}


img {
    width:100%;
    height: 600px!important;
}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: center; /* restore text-align to default */
}