/* ----- Universal ----- */

body {
    background-color: #D9FAC7;
}

/* ----- tasks.html ----- */

.parallax-container  {
    width:100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-cols > .col {
  float:none; 
  display: inline-block; 
  text-align: center; 
}

/* ----- addrecipe.html ----- */

.add_recipe {
    background-color: whitesmoke;
    padding:50px;
}