<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_tasks')}}" class="brand-logo">My Food Log</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Create Recipe</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Create Recipe</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="parallax-container">
        <div class="parallax"><img src="https://images.unsplash.com/photo-1557844352-c386c2db35ac?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <!--    <div class="centered" id="first_text">First</div> -->
        </div>
    </div>
    
    <div class="container-fluid"></div>
    
    <div class="container">
        <div class="row">
        {% block content %} {% endblock %}
    </div>
     </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    
        $(document).ready(function() {
            $('select').material_select();
            $('.parallax').parallax();
            $('.collapsible').collapsible();
            $(".button-collapse").sideNav();

        });
        
        
      
    </script>
</body>

</html>