{% extends 'base.html' %} {% block content %}


  <h3>Edit Recipe</h3>
  <div class="container recipe">
  <div class="row">
    <form action="{{ url_for('confirm_recipe', task_id=task._id)}}" method="POST">
      <div class="row">
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">menu</i>
          <select id="category" name="category_name">
            <option value="" disabled selected>Choose Recipe Category</option>
            {%  for category in categories %}
              {%if category.category_name  == task.category_name%}
              <option value="{{category.category_name}}" selected >{{category.category_name}}</option>
              {% else %}
              <option value="{{category.category_name}}">{{category.category_name}}</option>
              {% endif %} 
            {% endfor %}
          </select>
        </div>
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="task_name" name="task_name" type="text" class="validate" value="{{task.task_name}}">
          <label for="icon_prefix2">Recipe Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="task_description" name="task_description" type="text" class="validate" value="{{task.task_description}}">
          <label for="icon_prefix2">Recipe Description</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">add_circle</i>
          <textarea id="icon_prefix2" input id="task_ingredient" name="task_ingredient" class="materialize-textarea">{{task.task_ingredient}}</textarea>
          <label for="icon_prefix2">Ingredients List</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">add_circle</i>
          <textarea id="icon_prefix2" input id="task_note" name="task_note" class="materialize-textarea">{{task.task_note}}</textarea>
          <label for="icon_prefix2">Preperation Notes</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">add_circle</i>
          <textarea id="icon_prefix2" input id="task_instructions" name="task_instructions" type="text" class="materialize-textarea">{{task.task_instructions}}</textarea>
          <label for="icon_prefix2">Cooking Notes</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">add_circle</i>
          <textarea id="icon_prefix2" input id="task_image" name="task_image" type="text" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Recipe URL</em></label>
        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Edit Recipe
        <i class="material-icons right">send</i>
      </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}