{% extends 'base.html' %} {% block content %}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=931&q=80">
    <div class="centered" id="first_text">First</div>
    
    </div>
</div>
    
{% for task in tasks %}

<div class="container">
    <div class="row center-cols center-align">
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-image">
                    <!--<img class="img-responsive" src="https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">-->
                </div>
                <div class="card-content">
                    <h3>{{task.category_name}}</h3>
                    <span class="card-title">{{task.task_name}}</span>
                    <p>
                        {{task.task_description}}
                    </p>
                </div>
                <div class="card-action">
                    <i class="material-icons"></i><span>
                        <a class="waves-effect wave-light btn">See Recipe</a>
                    </span>
                </div>
            </div>
       </div> 
    </div>
</div>

{% endfor %}
{% endblock %}