<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
</head>
<body>
    
</body>
</html>

{% extends 'base.html' %} {% block content %}


{% for task in tasks %}


            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive images" src="{{task.task_image}}">
                    </div>
                    <div class="card-content">
                        <h3>{{task.category_name}}</h3>
                        <span class="card-title">{{task.task_name}}</span>
                        <p>
                            {{task.task_description}}
                        </p>
                    </div>
                    <div class="card-action">
                        <i class="material-icons"></i><span>
                            <a href="{{url_for('edit_recipe', task_id=task._id)}}" class="waves-effect wave-light btn">See Recipe</a>
                        </span>
                    </div>
                </div>
           </div> 
       
 
 

{% endfor %}
{% endblock %}